$primary-color: #326DB3; // Azul Medio
$secondary-color: #DE0029; // Rojo PlayStation
$background-dark: #232954; // Azul Oscuro
$accent-yellow: #F3C202; // Amarillo
$accent-teal: #00AA9E; // Verde Turquesa
$background-light: #f8fafc; // Slate 50
$text-light: #f1f5f9;
$text-dark: #1e293b;

$font-family-base: 'Inter', system-ui, -apple-system, sans-serif;
$font-family-heading: 'Outfit', system-ui, sans-serif;

$transition-speed: 0.3s;
$border-radius: 0.5rem;
